.DS_Store
.byebug_history
rdoc/*
coverage/**
log/*.log
tmp/sockets/player.sock

node/node_modules/**/*
examples/node/node_modules/**/*
node/public/javascripts/client.js

config/level.yml
examples/node/public/javascripts/client.js
