.DS_Store
.byebug_history
rdoc/*
coverage/**
log/*.log
tmp/sockets/player.sock

node/node_modules/**/*
examples/node/node_modules/**/*

config/level.yml
examples/node/public/*.js
examples/node/npm-debug.log
.env-dev
